
<main>

    <section class="about">
            <div>
                <h1>Encuentra todo lo que necesitas</h1>
                <p>Simplifica tus compras de productos y refacciones en un solo lugar.</p>
                <a href="#product-carousel-section">Nuestros productos</a>
            </div>
            <img src="../../../assets/fontanero-que-senala-lateral.jpg">
    </section>

    <section class="contact-info">
        <div class="information">
                <div>
                    <h2>¿Cúal es nuestra misión?</h2>
                    <p>
                        Fundada en el 2018 con la intención de ofrecer los mejores productos al alcance de tu domicilio. Queremos brindar a nuestra clientela un amplio catálogo de productos al mejor precio del mercado.
                    </p>
                </div>
                
        </div>
        <div class="location">
            <!--<app-loading *ngIf="!isUserLocationReady; else mapReady"></app-loading>-->
            <!-- #mapReady: nombre de la referencia local -->
            
                <p>¿Dónde estamos ubicados?</p>

                <app-map-view></app-map-view>


        </div>
    </section>

    <section class="product-carousel-section" id="product-carousel-section">
        
        <app-products-carousel [product]="product"></app-products-carousel>
        
        <div class="link-container">
            <a [routerLink]="['/', 'all-products']" >Todos los productos</a>
        </div>
    
    </section>



    <section class="contact-form">

        <h2>Contáctanos</h2>

        <app-contact-form></app-contact-form>

    </section>

</main>