
main{
    height: auto;
   /*overflow: hidden;*/
}
/*-----------   ABOUT   -----------*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.about div{
    padding-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about div h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.about div p{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

.about div a{
    background-color: #FFF159;
    font-weight: 500;
    padding: 20px;
    width: auto;
    height: 80px;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.about div a:hover{
    background-color: #e3d533;
    cursor: pointer;
}

.about img{
    width: 50%;
    height: auto;
    scroll-snap-align: start;
}


/*-----------CONTAC INFO-----------*/

.contact-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.information{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.information div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: #e3d533;
    
}

.information div h2{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.information div p{
    text-align: center;
    font-size: 20px;
    color: white;
}

.location{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /*background-color: brown;*/
}

.location p{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 10px;
}

/*-----------CATALOGO-----------*/

.link-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product-carousel-section a{   
    color: #4590F7;
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
}

/*----------- CONTACT FORM-----------*/

.contact-form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-form h2{
    margin-bottom: 10px;
}


