.product-section{
    width: 100%;
    /*cambiar depues esto auto*/
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-container{
    background-color: white;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.first{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    /*center por ahora*/
    justify-content: center;
    flex-direction: center;
    position: relative;
}

.images{
    position: absolute;
    top: 20px;
    left: 20px;
}

.second{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    max-width: 468px;
    
}

.image-container img{
    height: 100%;
    width: auto;
}

.info-container{
    height: 90%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

.info-container .title{
    font-weight: 500;
    font-size: 25px;
}

.info-container .price-container h2{
    font-weight: 400;
    font-size: 45px;
}

.info-container .price-container p{
    font-weight: 200;
    font-size: 25px;
}

.info-container .description{
    font-weight: 200;
    font-size: 25px;
    width: 100%;
    overflow-wrap: break-word;
    
}

.product-carousel-section h2{
    margin: 0;
    margin-left: 20px;
    font-weight: 200;
}

.product-carousel-section h2 span{
    font-weight: 500;
}